{% extends 'milosowisko_app/base.html' %}


{% block tresc %}



<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% comment %} <h2>Login</h2> {% endcomment %}
                <h1 class="display-4 text-center">Rejestracja</h1>
    <hr class="my-4">
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">


<form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Login</label>
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
                    <small id="usernameHelp" class="form-text text-muted">Login powinien będzie wyświetlany jako Ty na liście zamówień</small>
                </div>
                <div class="form-group">
                    <label for="password1">Hasło</label>
                    <input type="password" name="password1" class="form-control" id="password1">
                </div>
                <div class="form-group">
                    <label for="password2">Powtórz hasło</label>
                    <input type="password" name="password2" class="form-control" id="password2">
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
                        {% if error %}
                <div class="alert alert-danger text-center" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            {% if sukces %}
            Udalo sie
            {% endif %}
                    <hr>
            <div class="text-center">
                Masz już konto? <a href="{% url 'logowanie' %}">Zaloguj</a>
            </div>
        </div>
    </div>




</div>


{% endblock tresc %}